* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {background-image: url(img/knapper/style01BG.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;

}
img {
    max-width: 100%;
    height: auto;
    display: box;
}
@font-face {
    font-family: niconne;
    src: url(/fonts/Niconne/Niconne-Regular.ttf);
}
@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto/static/Roboto-Regular.ttf);
}
h1 {font-family: niconne;
font-size: 48px;
text-align: center;
padding: 1rem;}
h2 {font-family: niconne;
font-size: 36px;}
h3 {font-family: niconne;
font-size: 32px;}
p {font-family: roboto;
font-size: 16px;}
li {
    list-style: none;
}
p {
    padding: 1rem;
}
.ham_hover {
    font-family: niconne;
    color: #69585F;
    padding: 0;
    padding-left: 1rem;
}
.ham_hover:hover {display: block;
background-color: #B8D8BA;
}
a {
    text-decoration: none;
}
.gr {
    background-color: #EF959D;
    opacity: 80%;
}